.switchInput__container
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 0.625rem 1.25rem
    align-items: center
    gap: 1.25rem
    width: 18.75rem
    height: 6.25rem
    background-color: white

.p-inputswitch.p-highlight .p-inputswitch-slider
    background: var(--dark-blue)