.chat__scroll
  height: calc(100vh - 200rem)
  margin-top: -20rem
  margin-bottom: 20rem
  overflow: auto
  padding-bottom: 20rem
  width: 100%
  &.offer
    height: calc(100vh - 280rem)
.chat__messages
  display: flex
  flex-direction: column
  padding: 0 60rem
  width: 100%
  .chat_card
    display: flex
    width: 100%
    .multiUse__card
      height: auto
      margin-top: 20rem
      margin-right: auto
      margin-bottom: 0
      min-width: 200rem
      max-width: 500rem
      width: auto
      .main__container
        display: flex
        flex-wrap: wrap
        .profile__photo
          left: -60rem
          margin: 0
          position: absolute
          top: 0
        .date
          opacity: 0.7
          font-size: 0.7em
          width: 100%
        .offer
          align-items: center
          display: flex
          width: 100%
          .detail
            flex-grow: 1
          .actions
            button
              border-radius: 50rem
              font-size: 20rem
              height: 50rem
              padding: 0
              width: 50rem
    &.user .multiUse__card
      background: var(--green-earth)
      color: white
      margin-right: 0
      margin-left: auto
      .main__container
        justify-content: flex-end
        text-align: right
        .profile__photo
          left: auto
          right: -60rem
    &.same .multiUse__card
      margin-top: 4rem
      .profile__photo
        display: none
.chat__offer
  align-items: center
  display: flex
  flex-wrap: wrap
  width: 100%
  h5
    margin-right: 20rem
    width: auto
  .date
    margin-left: auto
  .chat__offer__info
    align-items: center
    border-top: 1rem solid var(--green-earth)
    display: flex
    margin-top: 10rem
    padding: 10rem 0
    width: 100%
    p
      font-size: 12rem
      margin: 0 20rem 0 0
      width: auto
    button
      margin-left: auto
.chat__input
  display: flex
  flex-wrap: wrap
  padding: 0 60rem
  width: 100%
  .p-inputnumber
    flex-grow: 1
  input
    background: var(--light-gray)
    border: none
    border-radius: 8rem
    flex-grow: 1
    padding: 0 20rem
  .emoji
    align-items: center
    color: var(--grey)
    display: flex
    font-size: 24rem
    justify-content: center
    padding: 8rem
    position: relative
    .emoji__wrapper
      bottom: 40rem
      position: absolute
      right: 0
      max-width: none
      button
        margin: 0
  button, .button
    margin-left: 8rem