.companies__banner
	align-items: center
	background: url(/assets/user/image-6.svg) no-repeat center bottom
	background-size: cover
	display: flex
	height: 45vw
	justify-content: flex-end
	padding: 4rem 16rem 0 0
	width: 100%
	h1
		width: 24rem

.secondary__banner
	background-color: var(--dark-blue)
	height: 20rem
	width: 100%
	display: flex
	flex-direction: row
	align-items: center
	justify-content: center
	.icon__container
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		margin: 0 5rem
		h3
			color: white
			font-size: 2rem

.content__flex
	justify-content: center
	padding-top: 30px !important
	width: calc(100vw - 12rem) !important
	.search-lenght
		width: 80%

.recycleCompaniesCards__grid
	display: grid
	grid-template-columns: repeat(4, 1fr)
	justify-content: center
	gap: 30px
	margin: 3rem 0
	.recycleCompanyCard__container
		// padding: 5rem 5rem
		background-color: white
		border-radius: 10px
		height: 27rem
		width: auto
		.recycleCompanyProfile__photo
			border-radius: 10px 10px 0 0
			width: 100%
			height: 35%
		.contactInformation__layout
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: flex-start
			width: 100%
			height: 65%
			padding: 1rem 1rem
			gap: 15px

			.contactInformation__container
				display: flex
				justify-content: center
				flex-direction: column
				align-items: center
				h4
					font-size: 1.4rem
				p
					font-size: 1.1rem
					padding-top: 10px
				.proximity__container
					display: flex
					flex-direction: row
					align-self: flex-end
					margin-bottom: 10px
					small
						color: var(--dark-blue)
						font-weight: 500
						font-size: 0.9rem
					.proximity__icon
						display: inline-block
						width: 16px
						height: 16px
						background-image: url("/assets/icons/location.svg")
						background-size: cover
						margin-right: 5px
