.search
  align-items: center
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  width: 100%
  h4
    font-weight: 600
  svg
    margin: -8rem 0 0 20rem
  .p-inputtext
    background: transparent
    border: 1rem solid var(--grey)
    border-radius: 8rem
    font-size: 16rem
    padding: 16rem 22rem
    width: 100%
  .p-input-icon-left .p-inputtext
    padding-left: 50rem

.input__wrapper
  width: 100%
.p-field
  width: 100%
  &.noLabel label
    color: transparent
  label
    display: block
    font-weight: 700
    size: 16rem
    color: var(--green-earth)
  .p-inputtext:not(.p-dropdown-label)
    background: transparent
    border: 1rem solid var(--grey)
    border-radius: 8rem
    font-size: 12rem
    padding: 16rem 22rem
    width: 100%
  .p-dropdown
    // display: grid
    background: transparent
    border: 1rem solid var(--grey)
    width: 100%
    .p-dropdown-label
      font-size: 12rem
      line-height: 1.2em
      padding: 16rem 22rem
      width: 100%
  .p-password
    display: block
  .checkbox__label
    color: var(--grey)
    display: block
    font-weight: 400
    .p-checkbox
      margin-right: 10rem
      .p-checkbox-box
        border-color: var(--green-earth)
        &.p-focus
          border-color: var(--green-earth)
        &.p-highlight
          background-color: var(--green-earth)
          border-color: var(--green-earth)
  .social-login
    display: inline-block
    margin: 0 10rem
    img
      height: 40rem

.p-tabview
  .p-tabview-nav
    align-items: end
    padding-left: 0
    background: var(--blue-versionone)

    li
      background-color: var(--blue-versionone)
      width: 50%
      .p-tabview-nav-link
        background: var(--blue-versionone)
        padding: 5rem 0
        .p-tabview-title
          font-size: 12rem
          font-weight: 500
        .pi-angle-left
          margin-right: 10rem

        
    .p-tabview-ink-bar
      background-color: var(--dark-blue)
      height: 4rem
      border-radius: 10rem

.p-tabview
  .p-tabview-panels
    background: transparent
    font-size: 16rem
    padding: 12rem 0 30rem