.p-field
	width: 100%
	&.noLabel label
		color: transparent
	label
		display: block
		font-weight: 700
		size: 1.6rem
		color: var(--green-earth)
	.p-inputtext:not(.p-dropdown-label)
		background: transparent
		border: 1px solid var(--grey)
		border-radius: 8px
		font-size: 1.6rem
		padding: 16px 22px
		width: 100%
	.p-dropdown
		// display: grid
		background: transparent
		border: 1px solid var(--grey)
		width: 100%
		.p-dropdown-label
			font-size: 1.6rem
			line-height: 1.2em
			padding: 16px 22px
			width: 100%
	.p-password
		display: block
	.checkbox__label
		color: var(--grey)
		display: block
		font-weight: 400
		.p-checkbox
			margin-right: 1rem
			.p-checkbox-box
				border-color: var(--green-earth)
				&.p-focus
					border-color: var(--green-earth)
				&.p-highlight
					background-color: var(--green-earth)
					border-color: var(--green-earth)
	.social-login
		display: inline-block
		margin: 0 1rem
		img
			height: 4rem

.p-tabview
	.p-tabview-nav
		align-items: end
		padding-left: 0
		background: var(--blue-versionone)

		li
			background-color: var(--blue-versionone)
			width: 50%
			.p-tabview-nav-link
				background: var(--blue-versionone)
				.p-tabview-title
					font-size: 0.9em
					font-weight: 500
				.pi-angle-left
					margin-right: 10px

				
		.p-tabview-ink-bar
			background-color: var(--dark-blue)
			height: 4px
			border-radius: 10px

.p-tabview
	.p-tabview-panels
		background: transparent		
