@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

:root
  --green-earth: #408D27
  --blue-earth: #77BEF9
  --white: #fff
  --grey: #737373
  --dark-blue: #23649A
  --light-green: #7FAE70
  --red-state: #EF0000
  --light-grey: #E0E0E0
  --green-state: #6AD447
  --blue-versionone: #FFFBEB
  --orange: #E88400
  --yellow: #F3DD17
  --light-gray: #E8E8E8

*
  box-sizing: border-box
  font-family: "Roboto", sans-serif
  max-width: 100%
html
  font-size: 1px
html, body
  background-color: #FFFBEB
  color: var(--grey)
  font-weight: 400
  min-height: 100vh
  margin: 0
  overflow-x: hidden
  padding: 0
body
  font-size: 16rem
  line-height: 1.3em
a
  color: var(--green-earth)
  cursor: pointer
  text-decoration: none !important
p
  font-size: 16rem
  line-height: 1.4em
  margin: 0 0 1em
  width: 100%
  &.small
    font-size: 12rem
h1, h2, h3, h4, h5, h6
  color: var(--green-earth)
  margin: 0
  line-height: 1em
  width: 100%
  .pi
    font-size: 1.1em
    margin-right: 0.3em
    vertical-align: middle
h1
  font-size: 50rem
  font-weight: 900
h2
  font-size: 40rem
  font-weight: 900
h3
  font-size: 30rem
  font-weight: 900
h4
  font-size: 24rem
  font-weight: 900
h5
  font-size: 16rem
  font-weight: 400
h6
  font-size: 10rem
  font-weight: 400
.h7
  font-size: 20rem

ul
  font-size: 16rem
  line-height: 1.4em
  margin: 0
  padding-left: 0.8em
  width: 100%
  li::marker
    color: var(--dark-blue)
button, .button
  background-color: var(--grey)
  border: var(--grey) 1rem solid
  border-radius: 4rem
  color: white
  cursor: pointer
  display: inline-block
  font-size: 16rem
  font-weight: 700
  line-height: 1.5em
  padding: 8rem 16rem
  text-decoration: none !important
  &.small
    font-size: 14rem
    font-weight: 400
    padding: 4rem 16rem
  & + button, & + .button
    margin-left: 20rem
  &.small + .small
    margin-left: 10rem
  &.fullwidth
    width: 100%
  &.dark-blue
    background-color: var(--dark-blue)
    border-color: var(--dark-blue)
    color: var(--dark-blue)
  &.red-state
    background-color: var(--red-state)
    border-color: var(--red-state)
    color: var(--red-state)
  &.blue-earth
    background-color: var(--blue-earth)
    border-color: var(--blue-earth)
    color: var(--blue-earth)
  &.green-earth
    background-color: var(--green-earth)
    border-color: var(--green-earth)
    color: var(--green-earth)
  &.green-state
    background-color: var(--green-state)
    border-color: var(--green-state)
    color: var(--green-state)
  &:not(.outline)
    color: white
  &.outline
    background: transparent
  &.Paper
    background-color: var(--dark-blue)
    border-color: var(--dark-blue)
  &.Glass
    background-color: var(--green-earth)
    border-color: var(--green-earth)
  &.Plastic
    background-color: var(--orange)
    border-color: var(--orange)
  &.E-waste
    background-color: var(--red-state)
    border-color: var(--red-state)
  &.Metal
    background-color: var(--yellow)
    border-color: var(--yellow)
  &.Organic
    background-color: var(--grey)
    border-color: var(--grey)

.p-component
  font-size: 16rem


/*  HEADER START  */
.main_header
  align-items: center
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  justify-items: center
  padding: 0 calc((100% - 1100rem) / 2)
  position: absolute
  width: 100%
  z-index: 100
  &.map, &.settings
    background: white
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1)
    padding-top: 10rem
    padding-bottom: 10rem
    height: 70rem
  .navbar-item
    align-items: center
    display: flex
    z-index: 2
    &.go-back
      justify-self: flex-start
      font-size: 28rem
      margin-left: 8rem
      a
        align-items: center
        display: inline-flex
        height: 30rem
        justify-content: center
        margin-right: 10rem
        width: 30rem
      .plus
        border: var(--grey) 1rem solid
        border-radius: 8rem
        font-size: 20rem
    &.user-info
      justify-self: flex-start
    &.logo
      grid-column: 2
      background: var(--green-earth)
      border-radius: 0 0 16rem 16rem
      height: 120rem
      padding: 32rem 10rem
      width: 176rem
      img
        height: 56rem
    &.icons
      color: var(--green-earth)
      gap: 32rem
      width: auto
    &.right-align
      justify-self: flex-end
      justify-content: flex-end
  .nav__container
    align-items: center
    display: flex
    height: 100vh
    left: calc(50% - 550rem)
    position: fixed
    top: 0
    z-index: 1
    .box
      background-color: var(--white)
      border-radius: 64rem
      display: flex
      flex-direction: column
      gap: 30rem
      justify-content: center
      padding: 30rem 16rem
      svg
        cursor: pointer
        transition: all 0.4s ease
        height: 30rem
        width: 30rem
        path
          transition: all 0.4s ease
        &:hover
          transform: scale(1.2)
          path
            fill: var(--green-earth) !important
@media (max-width: 1140px)
  .main_header
    padding: 0 20rem
/*  HEADER END  */


/*  LAYOUT START  */
.layout
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  min-height: 100vh
  padding: 0 calc((100% - 1100rem) / 2)
  position: relative
  width: 100%
  &.fullwidth
    justify-content: center
    padding: 0
  &.autoheight
    min-height: 0
  .layout__background
    bottom: 0
    height: 95vh
    left: 0
    object-fit: cover
    pointer-events: none
    position: absolute
    width: 100%
  .main__content
    align-content: center
    align-self: flex-start
    display: flex
    flex-wrap: wrap
    margin-left: 50%
    padding-top: 140rem
    padding-bottom: 30rem
    position: relative
    width: 50%
    &.verticalcenter-1
      min-height: 78vh
    &.verticalcenter-2
      min-height: 90vh
    &.absoluteleft
      margin-left: 0
    &.width58
      width: 58%
    &.fullwidth
      margin-left: 100rem
    &.xpadding-1
      padding-right: 50rem
      padding-left: 50rem
    &.halfspace
      padding-right: 8rem
    &.halfwidth
      width: 50vw
    &.centerwidth
      margin: 0 auto
      max-width: 700rem
    &.centerfullwidth
      margin: 0
      padding-right: 100rem
      padding-left: 100rem
      width: auto
    &.fullviewportwidth
      padding: 0
      width: 100%
@media (max-width: 1140px)
  .hide__mobile
    display: none !important
  .layout
    padding: 0 20rem
    .layout__background
      object-position: right bottom
    .main__content
      margin-left: 0
      padding: 140rem 0 30rem !important
      width: 100% !important
/*  LAYOUT END  */


.p-carousel-prev, .p-carousel-next
  display: none
.p-carousel-indicators
  bottom: 20rem
  position: absolute
  width: 100%
  .p-carousel-indicator
    margin: 0
    width: 48rem
    .p-link
      background: white
      border-radius: 0
      height: 4rem
      margin: 0
      padding: 0
      width: 100%
    &:nth-child(2) .p-link
      opacity: .8
    &:nth-child(3) .p-link
      opacity: .6
    &:nth-child(4) .p-link
      opacity: .4
  [data-p-highlight="true"]
    .p-link
      background: var(--dark-blue)
      box-shadow: 0rem 0rem 8rem rgba(255,255,255,.5)
      opacity: 1 !important
      transform: scaleY(1.8)

.flex
  display: flex !important
  justify-content: space-between
  width: 100%
.aligncenter
  align-content: center
  align-items: center
.inline-block
  display: inline-block
.font-regular
  font-weight: 400
.font-bold
  font-weight: 700
.font-black
  font-weight: 900
.text-white
  color: var(--white)
.text-green-earth
  color: var(--green-earth)
.text-dark-blue
  color: var(--dark-blue)
.text-center
  justify-content: center
  text-align: center
.text-right
  text-align: right
.text-left
  text-align: left
.text-xs
  font-size: 12rem
  line-height: 16rem
.text-lowerCase
  text-transform: lowercase
.text-upperCase
  text-transform: uppercase
.text-defaultCase
  text-transform: initial
.text-gray
  color: var(--grey)
.text-white
  color: var(--white)
.text-dark-blue
  color: var(--dark-blue)
.text-red-state
  color: var(--red-state)
.text-green-state
  color: var(--green-state)
.self-end
  justify-self: flex-end
.fullwidth
  width: 100% !important

.small__text
  font-size: 0.5em
  line-height: 0.75em

.p-datatable
  width: 100%
  &.no-head .p-datatable-thead
    display: none
  .p-datatable-header
    background: white
    display: flex
    justify-content: flex-end
    width: 100%
    .filters
      display: flex
      justify-self: flex-end
      justify-items: flex-end
      padding: 12rem 8rem
      .p-multiselect, .p-inputtext
        height: 40rem
        line-height: 1em
        margin-right: 8rem
        min-width: 190rem
      button
        font-size: 20rem
        height: 40rem
        line-height: 1em
        margin: 0 8rem 0 0
        padding: 0 12rem
        vertical-align: top
        &:last-child
          margin-right: 0
  .p-datatable-thead > tr > th
    color: black
    padding: 12rem 8rem
  .p-datatable-tbody > tr > td
    color: var(--gray)
    padding: 12rem 8rem
    .p-row-toggler
      background: transparent
      border: none
      color: var(--grey)
      display: flex
      margin: auto
      padding: 0
      height: 16rem
      width: 16rem
      .p-icon
        fill: var(--grey)
        height: 16rem
        width: 16rem
  .profile__photo
    display: inline-flex
    height: 30rem
    min-width: 30rem
    vertical-align: middle
    width: 30rem
  .actions
    text-align: right
    width: 100rem
    button, .button
      padding: 4rem 8rem
    button.small + .small, .button.small + .small
      margin-left: 6rem
  .p-datatable-tbody .p-datatable-row-expansion > td
    padding: 0
  .p-paginator
    button
      background: none
      border: none
      color: var(--grey)
      padding: 0
      text-align: center
    button + button
      margin-left: 0
    .p-highlight
      color: black

.p-dialog
  .p-dialog-content
    padding: 32rem 24rem
  &.no-close .p-dialog-header-close
    display: none
  .p-dialog-header-close, .p-galleria button
    align-content: center
    background: none
    border: none
    color: var(--grey)
    display: flex
    justify-items: center
    padding: 0
    .p-icon
      height: 16rem
      width: 16rem
  .p-dialog-content
    display: flex
    column-gap: 30rem
    .default-image
      align-items: center
      background: var(--light-gray)
      border-radius: 8rem
      color: var(--grey)
      display: flex
      font-size: 80rem
      height: 360rem
      justify-content: center
      width: 360rem
    .p-galleria
      width: 360rem
      .p-galleria-item img
        border-radius: 8rem
        height: 360rem
        object-fit: contain
        width: 100%
      .p-galleria-thumbnail-container
        background: none
        .p-galleria-thumbnail-items
          column-gap: 10rem
          display: flex
          justify-content: center
          .p-galleria-thumbnail-item
            flex: none
            img
              background: black
              border-radius: 8rem
              height: 80rem
              object-fit: cover
              width: 80rem
    .content
      align-content: center
      align-self: flex-start
      display: inline-flex
      flex-wrap: wrap
      min-height: 360rem
      min-width: 360rem
      width: 360rem
      p
        border-bottom: 1rem solid var(--grey)
        font-size: 16rem
        padding: 8rem 0
        b
          display: inline-block
          width: 130rem

.p-multiselect-panel
  button
    background: 0
    border: none
    color: var(--gray)
    padding: 0
    text-align: center
  .p-multiselect-header
    padding: 8rem
  .p-multiselect-items
    padding: 0
    .p-multiselect-item
      padding: 8rem
      .p-multiselect-checkbox
        margin-right: 8rem
  .p-multiselect-label-container
    align-items: center
    display: flex
.p-inputtext, .p-multiselect-label
  padding: 12rem
.p-image-action.p-link
  align-items: center
  display: flex
  height: 36rem
  justify-content: center
  padding: 0
  width: 36rem
.p-image-preview-indicator .p-icon, .p-image-action.p-link .p-icon
  height: 24rem
  width: 24rem
.p-tooltip.p-tooltip-right, .p-tooltip.p-tooltip-left
  padding: 0 4rem
.p-tooltip .p-tooltip-text
  padding: 12rem
.p-password-info
  padding: 4rem
.p-inputswitch
  height: 28rem
  width: 48rem
  .p-inputswitch-slider:before
    height: 20rem
    left: 2rem
    margin-top: -10rem
    width: 20rem
  &.p-highlight .p-inputswitch-slider:before
    transform: translateX(20rem)
.p-dropdown .p-dropdown-trigger
  width: 48rem
  .p-icon
    height: 16rem
    width: 16rem
.p-dropdown-panel .p-dropdown-items
  .p-dropdown-item, .p-dropdown-empty-message
    padding: 12rem 20rem

$spaces: ("0": "0", "1": "0.5em", "2": "1em", "3": "1.5em", "4": "2em", "5": "2.5em", "6": "3em", "7": "3.5em", "8": "4em")
@each $name, $space in $spaces
  .mt-#{$name}
    margin-top: #{$space} !important
  .mr-#{$name}
    margin-right: #{$space} !important
  .mb-#{$name}
    margin-bottom: #{$space} !important
  .ml-#{$name}
    margin-left: #{$space} !important
  .pt-#{$name}
    padding-top: #{$space} !important
  .pr-#{$name}
    padding-right: #{$space} !important
  .pb-#{$name}
    padding-bottom: #{$space} !important
  .pl-#{$name}
    padding-left: #{$space} !important

@media (min-width: 1280px)
  html
    font-size: 0.08vw