@media (orientation: landscape)
  html
    font-size: 1.28vw
  #intro
    .layout
      background-image: none !important
    .layout__background
      height: 100%
      object-position: center bottom
  .footer__grid
    z-index: 120
  .show__mobile
    display: none !important
@media (orientation: portrait)
  .hide__mobile
    display: none !important
  .show__mobile
    display: block !important
  .mobileMenu .p-menuitem
    padding: 0.5rem
  .main_header
    padding: 0 1.25rem
    .navbar-item
      &.go-back
        .user-name
          display: none
      &.logo
        width: 8.2rem
        img
          height: 2.5rem
      &.right-align
        flex-wrap: wrap
        width: 80px
        button, .button
          display: block
          line-height: 1.2em
          & + button, & + .button
            margin-left: 0
            margin-top: 1rem
          &.small + .small
            margin-left: 0
            margin-top: 0.4rem
      &.icons
        gap: 0.7rem
        .lang, .logout
          display: none
    .nav__container
      bottom: 0
      height: auto
      left: 0
      position: fixed
      top: auto
      width: 100%
      z-index: 10
      .box
        border-radius: 0
        flex-direction: row
        gap: 2.5rem
        padding: 1rem 1.875rem
        width: 100%
    &:not(.intro, .login, .register) + .layout:not(.hasfooter)
      padding-bottom: 4rem
    &.settings .profile__photo
      display: none
  .layout
    padding: 0 1.25rem
    .layout__background
      align-self: flex-end
      height: 90vw
      margin: -15vw -1.25rem 0
      max-width: initial
      object-fit: cover
      object-position: left bottom
      order: 2
      position: relative
      width: 100vw
      z-index: 0
      display: none
    .main__content
      margin-left: 0
      order: 1
      padding-top: 8.75rem
      padding-right: 0 !important
      padding-left: 0 !important
      width: 100% !important
      z-index: 1
      &.verticalcenter-1
        min-height: calc(100vh - 8.75rem - 50vw)
      &.verticalcenter-2
        padding: 8.75rem 0 3rem !important
    .dashboard-content
      .card
        width: 100%
    .template__top .template__banner
      background-position: left bottom
      background-size: 170vw
      height: auto
      padding: 8.75rem 2rem 16rem 2rem
      text-align: center
    .features
      gap: 1rem
      .icon img
        height: 2.5rem
        width: 2.5rem
  h1
    font-size: 2.5rem
  h2
    font-size: 2rem
  h3
    font-size: 1.6rem
  h4
    font-size: 1.2rem
  #intro
    .layout
      background-position: center bottom
      background-repeat: no-repeat
      background-size: contain
      pading-bottom: 50vw
    .layout__background
      display: none
  #registerRole
    .layout__background
      object-position: right bottom
  .registerInput__container-x2
    flex-wrap: wrap
    & > .p-field, & > .input__wrapper
      width: 100%
  .chat__scroll
    height: calc(100vh - 17rem)
  .chat__input
    padding: 0
  .insection_header
    left: 1rem
    margin: 0
    width: calc(100% - 4rem)
    h4
      margin: 0.8rem
  .map-layout
    height: calc(100vh - 4.3rem)
    min-height: calc(100vh - 4.3rem)
    padding: 0 !important
  .map__filters
    bottom: -22rem
    height: 22rem
    width: 100%
    &.show
      bottom: 0rem
    h5
      margin-bottom: 0.5rem
    .radio
      display: inline-block
      margin: 0.2rem
  .marker__detail
    width: calc(100vw - 4rem)
  .card__skeleton
    max-width: initial
    margin-bottom: 1rem
  .multiUse__card
    &.company, &.product, &.pet, &.add
      max-width: initial
      .main__container a .profile__photo
        height: 55vw
    &.add
      min-height: 50vw
  .footer__grid
    flex-wrap: wrap
    grid-template-columns: initial
    height: auto
    margin-bottom: 4rem
    padding: 2rem
    text-align: center
    & > *
      width: 100%
    .socialMedia__container
      padding-top: 1rem
  .profileInformation__grid
    grid-template-columns: initial
    .image__container
      display: flex
      justify-content: center
      margin: 0 0 2rem
      text-align: center
      width: 100%
    .contact__grid
      grid-template-columns: initial
    .buttons__container
      display: flex
      flex-wrap: wrap
      gap: 1rem
      button, .button, .button.small + .small
        margin-right: 0
  .settings__card
    .settings__table
      flex-wrap: wrap
      h4
        min-width: initial
        margin-bottom: 0.5rem
        width: 100%
      p
        text-align: left
  .card__grid
    grid-template-columns: repeat(1, 1fr)
  .card
    width: calc(100% - 1.875rem)
  .p-paginator
    .p-paginator-first, .p-paginator-last
      display: none
    .p-paginator-page
      height: 2rem
      min-width: 2rem
  .template__listing
    margin-bottom: 0
  .recycableGoods__container
    margin-top: 0
    & > .button
      display: none
    .materialsCard__grid
      max-height: initial !important
      .materialCategory
        width: 100%
        h6
          justify-content: flex-start
          text-align: left
        .recycle__card
          width: calc(50% - 0.15rem)
  .emoji__wrapper
    right: -5.3rem !important
  .about
    height: auto
  .p-dialog .p-dialog-content
    .p-galleria
      margin-bottom: 2rem
      width: 100%
      .p-galleria-item img
        height: auto
    .content
      min-width: initial
      width: 100%
      button, .button
        margin: 0 0 1rem
  .dialog-dimnesions.reports
    .p-stepper-nav
      flex-wrap: wrap
      padding: 0
      .p-stepper-header, .p-stepper-action
        padding: 0
      .p-stepper-header
        margin-bottom: 0.5rem
        width: 100%
    .panel-1
      flex-wrap: wrap
    .panel-2
      h4
        text-align: left
      .switches-container
        margin-top: 1.4rem
        width: 100%
        .labels-container
          flex-wrap: wrap
          padding-left: 0
          & > div
            margin-bottom: 1rem
            width: 100%
            .flex
              padding-top: 0
      button, .button
        margin: 0 0 1rem
  .p-datatable
    .p-datatable-header
      .filters
        flex-wrap: wrap
        justify-self: flex-start
        justify-items: flex-start
        padding: 0
        .p-dropdown, .p-multiselect, .p-inputtext
          margin-right: 0
          margin-bottom: 0.5rem
          width: 100% !important
        button, .button
          margin-bottom: 0.5rem
    .p-datatable-tbody > tr > td
      &.actions
        min-width: 10rem
  .p-fileupload
    & > div
      width: 100%
      .p-button
        margin: 0
        width: 100%
    .btn-str
      height: auto
      padding: 0.5rem
      position: relative
      right: auto
      top: auto
      &.ad-online
        padding-left: 2rem
    .p-fileupload-content .form__container
      flex-wrap: wrap
      & > *
        width: 100%
      & > .width-50
        order: 2
      .ad-summary-image
        margin-bottom: 2rem
        order: 1
        img
          height: auto
    .p-fileupload-row
      flex-wrap: wrap
      & > *
        width: 100%
@media (min-width: 190vh)
  #intro
    .layout__background
      object-position: center center
    .main__content
      min-height: 51vw
      padding-bottom: 100px
@media (max-width: 330px)
  .insection_header
    h4
      font-size: 1rem
    .profile__photo, .homeLocation, .currentLocation
      display: none !important