
.profile__container
  display: flex
  flex-direction: row
  // justify-content: center

.profileUpload__container
  align-content: center
  display: flex
  flex-wrap: wrap
  p
    font-size: 1rem
    font-weight: 400

.profileUpload__title
  font-weight: 700
  font-size: 1.5rem
  color: var(--green-earth)
  margin: 0
.p-fileupload-choose .p-icon
  display: none

.profileUpload__component
  display: flex
  flex-direction: row
  align-items: baseline
  span
    margin-right: 0.3125rem

.imagesHub__container
  margin-bottom: 1.25rem
  .imageCarousel__container
    display: block
    margin: 0.2rem 0 0 0
    .imageUpload__button
      align-items: center
      background: transparent
      border: 1px solid var(--grey)
      border-radius: 0.5rem
      cursor: pointer
      display: inline-flex
      height: 6.6rem
      justify-content: center
      margin-right: calc((100% - 26.4rem) / 3)
      margin-bottom: 1rem
      vertical-align: top
      width: 6.6rem
    .image__container
      display: inline-block
      height: 6.6rem
      margin-right: calc((100% - 26.4rem) / 3)
      margin-bottom: 1rem
      position: relative
      width: 6.6rem
      &:nth-child(4n+1)
        margin-right: 0
      .close__btn
        padding: 0
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        background-color: white
        width: 0.9375rem
        height: 0.9375rem
        top: -0.3125rem
        right: 0rem
        border-radius: 3.125rem
        z-index: 2
        cursor: pointer
        border-color: green
      .as__main, .is__main
        background: rgba(0,0,0,0.8)
        border-radius: 0.5rem
        height: 100%
        left: 0
        line-height: 1.2em
        margin: 0
        opacity: 0
        padding: 0
        pointer-events: none
        position: absolute
        transition: all 300ms
        width: 100%
      &:hover .as__main
        opacity: 1
        pointer-events: all
      .is__main
        border-radius: 0 0 0.5rem 0.5rem
        bottom: 0
        height: auto
        padding: 0.2rem
        opacity: 1
      .uploadedImage
        border-radius: 0.5rem
        height: 100%
        object-fit: cover
        width: 100%

.imagesHub__container-variant
  margin: 1.25rem 0
  .imageCarousel__container
    .imageUpload__container
      label
        background-color: #D9D9D9
        border: none
        svg
          color: var(--dark-blue)

  
