
.profile__container
	display: flex
	flex-direction: row
	// justify-content: center

.profileUpload__container
	align-content: center
	display: flex
	flex-wrap: wrap
	p
		font-size: 16px
		font-weight: 400

.profileUpload__title
	font-weight: 700
	font-size: 24px
	color: var(--green-earth)
	margin: 0
.p-fileupload-choose .p-icon
	display: none

.profileUpload__component
	display: flex
	flex-direction: row
	align-items: baseline
	span
		margin-right: 5px

.imagesHub__container
	margin-bottom: 20px
	.imageCarousel__container
		display: block
		margin: 10px 0 0 0
		.imageUpload__button
			align-items: center
			background: transparent
			border: 1px solid var(--grey)
			border-radius: 8px
			cursor: pointer
			display: inline-flex
			height: 50px
			justify-content: center
			margin-right: calc((100% - 300px) / 5)
			vertical-align: top
			width: 50px
		.image__container
			display: inline-block
			margin-right: calc((100% - 300px) / 5)
			position: relative
			&:last-child
				margin-right: 0
			.close__btn
				padding: 0
				display: flex
				justify-content: center
				align-items: center
				position: absolute
				background-color: white
				width: 15px
				height: 15px
				top: -5px
				right: 0px
				border-radius: 50px
				z-index: 2
				cursor: pointer
				border-color: green
			.uploadedImage
				border-radius: 8px
				height: 50px
				object-fit: cover
				width: 50px

.imagesHub__container-variant
	margin: 20px 0
	.imageCarousel__container
		.imageUpload__container
			label
				background-color: #D9D9D9
				border: none
				svg
					color: var(--dark-blue)

	
