.card__grid
  display: grid
  gap: 40px
  grid-template-columns: repeat(2, 1fr)
.card
  align-items: flex-start
  background-color: var(--blue-earth)
  border-radius: 8px
  cursor: pointer
  display: flex
  flex-direction: column
  gap: 5px
  isolation: isolate
  padding: 30px
  position: relative
  transition: background-color 0.3s ease-in-out
  width: 298px
  h4, h5
    color: white
    line-height: 1.4em
  .card__icon
    align-items: center
    background-color: var(--dark-blue)
    border-radius: 40px
    display: flex
    flex-direction: column
    justify-content: center
    position: absolute
    height: 80px
    right: -30px
    top: -30px
    transition: background-color 0.3s ease-in-out
    width: 80px
    img
      height: 28px
  &:hover
    background-color: var(--dark-blue)
    .card__icon
      background-color: var(--blue-earth)
.card.dark-blue
  background-color: var(--dark-blue)
  .card__icon
    background-color: var(--blue-earth)
  &:hover
    background-color: var(--blue-earth)
    .card__icon
      background-color: var(--dark-blue)
.card.light-green
  background-color: var(--light-green)
  .card__icon
    background-color: var(--green-earth)
  &:hover
    background-color: var(--green-earth)
    .card__icon
      background-color: var(--light-green)
.card.green-earth
  background-color: var(--green-earth)
  .card__icon
    background-color: var(--light-green)
  &:hover
    background-color: var(--light-green)
    .card__icon
      background-color: var(--green-earth)
@media (max-width: 1140px)
  .card__grid
    grid-template-columns: repeat(1, 1fr)
  .card
    width: calc(100% - 30px)