.profile__photo
	background-color: var(--light-grey)
	border-radius: 50%
	color: var(--grey)
	display: flex
	flex-direction: column
	height: 5rem
	justify-content: center
	margin-right: 1rem
	width: 5rem
	img
		border-radius: 50%
		height: 100%
		object-fit: cover
		width: 100%