.footer__grid
    align-items: center
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    justify-items: center
    position: absolute
    width: 100%
    top: 100%
    z-index: 100
    color: var(--white)
    background-color: var(--green-earth)
    height: 14rem
    form
        width: 100%
        .footer__input
            border: 1px solid #fff !important
            color: white
            font-weight: 200
        ::-webkit-input-placeholder
            color: white      
        .p
        .subscribe__btn
            width: 30%
    .contactInfo__text
        font-size: 0.8rem
        font-weight: 300

    .white__title
        color: white
    .footer__icon
        color: white
        margin-right: 20px
        font-size: 1.4rem