.footer__grid
  align-items: center
  background-color: var(--green-earth)
  color: var(--white)
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  height: 8.75rem
  justify-items: center
  padding: 0 calc((100% - 68.75rem) / 2)
  top: 100%
  width: 100%
  & > a
    justify-self: flex-start
  .white__title
    color: white
  .contactInfo__text
    font-size: 0.875rem
    font-weight: 300
  form
    width: 100%
    .footer__input
      border: 1px solid #fff !important
      color: white
      font-weight: 200
    ::-webkit-input-placeholder
      color: white
    .subscribe__btn
      width: 30%
  .socialMedia__container
    font-size: 1.5rem
    justify-self: flex-end
    .svg-inline--fa
      color: white
      margin-right: 1.25rem
