.profile__layout
    align-items: center
    justify-content: center
    display: flex
    flex-direction: row
    min-height: 80vh
    margin-right: 11rem
    margin-left: 11rem
    margin-top: 130px
    position: relative
    width: 100rem