.category__search
	margin: 30px 0
	width: 100%
	h4
		margin-bottom: 15px
	span
		width: 100%

.dashboard
	width: 58rem

.-dashboard-card
	width: auto
	height: 180px

.p-inputtext:not(.p-dropdown-label)
	background: transparent
	border: 1px solid var(--grey)
	border-radius: 8px
	font-size: 1.6rem
	padding: 16px 22px
	width: 100%
	padding-left: 50px
