.multiUse__card
  backdrop-filter: blur(10rem)
  background-color: var(--white)
  border-radius: 9rem
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1)
  display: flex
  flex-direction: column
  justify-content: center
  margin: 15rem 0
  padding: 15rem
  width: 100%
  &.notification
    header
      align-items: center
      display: flex
      svg
        height: 20rem
      h5
        color: var(--grey)
        font-weight: 600
        margin: 0 15rem
        width: auto
      small
        font-size: 10rem
        margin-left: auto
        text-align: right
        width: 110rem
    p
      color: var(--grey)
      font-size: 14rem
      margin: 10rem 0 0
  .main__container
    display: flex
    justify-content: space-between
    .offer__image
      align-self: flex-start
      height: 70rem
      margin-right: 10rem
      min-width: 70rem
      object-fit: cover
      width: 70rem
    button
      margin-top: 6rem
    .flex
      margin-top: 10rem
      table
        font-size: 10rem
        line-height: 12rem
        th, td
          padding-right: 5rem
      .date
        font-size: 12rem
        justify-self: flex-end
        text-align: right
        width: 100rem
  &.order
    height: 70rem
    p
      font-size: 10rem
    h6
      align-self: center
      width: auto
    .Pending
      color: var(--blue-earth)
    .Canceled
      color: var(--red-state)
  &.user
    .main__container
      justify-content: flex-start

  .multiuseCard__p
    margin: 10rem 0 0 0 
    font-size: 17rem

  .text-pending
    color: var(--blue-earth)
  .text-aproved
    color: var(--green-earth)
  .text-rejected
    color: var(--red-state)

// Notifications card style

.notification__header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
.notification__title
  display: flex
  flex-direction: row
  align-items: center
  svg
    font-size: 25rem
    color: var(--green-earth)
    margin-right: 20rem
  
// Offers card style

.offer__container
  display: flex
  flex-direction: row
  justify-content: space-between
.left__container
  display: flex
  justify-content: space-between

.offerCircle__status
  display: inline-block
  width: 10rem
  height: 10rem
  border-radius: 50%
  margin-right: 5rem

.--pending
  background-color: var(--blue-earth)
.--aproved
  background-color: var(--green-earth)
.--rejected
  background-color: var(--red-state)

.offer__status
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-end