.multiUse__card
  backdrop-filter: blur(0.625rem)
  background-color: var(--white)
  border-radius: 0.5625rem
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1)
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0.9375rem 0
  padding: 0.9375rem
  width: 100%
  &.notification
    header
      align-items: center
      display: flex
      svg
        height: 1.25rem
      h5
        color: var(--grey)
        font-weight: 600
        margin: 0 0.9375rem
        width: auto
      small
        font-size: 0.625rem
        margin-left: auto
        text-align: right
        width: 100%
    p
      color: var(--grey)
      font-size: 0.875rem
      margin: 0.625rem 0 0
  &.unread
    background: var(--faint-green)
  .pre-line
    white-space: pre-line
    word-break: break-word
    .epr-emoji-img
      display: inline-block !important
      font-size: 1em !important
      height: 1em !important
      width: 1em !important
  .emoji
    font-size: 3rem
    line-height: 1em
  .main__container
    display: flex
    justify-content: space-between
    .offer__image
      align-self: flex-start
      height: 4.375rem
      margin-right: 0.625rem
      min-width: 4.375rem
      object-fit: cover
      width: 4.375rem
    button
      margin-top: 0.375rem
    .flex
      margin-top: 0.625rem
      table
        font-size: 0.625rem
        line-height: 0.75rem
        th, td
          padding-right: 0.3125rem
      .date
        font-size: 0.75rem
        justify-self: flex-end
        text-align: right
        width: 6.25rem
  &.order
    height: 4.375rem
    p
      font-size: 0.625rem
    h6
      align-self: center
      width: auto
    .Pending
      color: var(--blue-earth)
    .Canceled
      color: var(--red-state)
  &.user
    .main__container
      justify-content: flex-start
      & > div:nth-child(2)
        max-width: calc(100% - 8rem)
      button, .button
        align-self: center
        margin-left: 0.4rem
        margin-top: 0
        height: 2rem
        max-width: 2rem
        padding: 0 0.4rem
        width: 2rem
        &:nth-child(3)
          margin-left: auto
  &.company, &.add, &.product, &.pet
    border-radius: 1rem
    min-height: 10rem
    max-width: 12rem
    overflow: hidden
    padding: 0
    place-content: stretch
    .main__container
      display: flex
      flex-wrap: wrap
      width: 100%
      a
        width: 100%
        .profile__photo
          border-radius: 0
          height: 8rem
          margin: 0
          width: 100%
      .content
        display: flex
        flex-wrap: wrap
        padding: 1rem 1rem 3.5rem
        width: 100%
        .price
          background: linear-gradient(transparent, black)
          color: white
          font-size: 0.8rem
          left: 0
          margin-top: -4.3rem
          padding: 1.8rem 1rem 0.2rem
          position: absolute
          text-align: right
          width: 100%
        h5
          width: calc(100% - 2rem)
        .bookmark
          padding: 0 0.5rem
          width: auto
        span
          display: block
          font-size: 0.7rem
          line-height: 1.2em
          margin-top: 0.5rem
        .button
          bottom: 1rem
          margin-left: auto
          position: absolute
          right: 1rem
          width: auto
  &.add
    .main__container
      align-content: center
      display: flex
      height: 100%
      justify-content: center
      .content
        display: block
        height: auto
        padding: 0
        text-align: center
        width: auto
        .svg-inline--fa
          height: 3rem
          margin-bottom: 1rem

  .multiuseCard__p
    margin: 0.625rem 0 0 0
    font-size: 1.0625rem

  .text-pending
    color: var(--blue-earth)
  .text-aproved
    color: var(--green-earth)
  .text-rejected
    color: var(--red-state)

// Notifications card style

.notification__header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
.notification__title
  display: flex
  flex-direction: row
  align-items: center
  svg
    font-size: 1.5625rem
    color: var(--green-earth)
    margin-right: 1.25rem

// Offers card style

.offer__container
  display: flex
  flex-direction: row
  justify-content: space-between
.left__container
  display: flex
  justify-content: space-between

.offerCircle__status
  display: inline-block
  width: 0.625rem
  height: 0.625rem
  border-radius: 50%
  margin-right: 0.3125rem

.--pending
  background-color: var(--blue-earth)
.--aproved
  background-color: var(--green-earth)
.--rejected
  background-color: var(--red-state)

.offer__status
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-end

// Chat card style

.lastChat-textStyles
  font-weight: 300
  font-size: 0.8rem

