.map__search
  margin: 0 calc((100% - 500rem) / 2)
  position: absolute
  width: 500rem
  z-index: 101
  .search
    margin: 7rem
    .input__wrapper
      flex-grow: 1
      width: auto
.marker__detail
  background-color: var(--white)
  border-radius: 20rem
  padding: 40rem
  position: absolute
  right: 30rem
  text-align: center
  top: 105rem
  width: 30%
  z-index: 10
  .close
    font-size: 20rem
    font-weight: 900
    right: 20rem
    position: absolute
    top: 20rem
  .profile__photo
    display: inline-flex
  p
    margin-bottom: 0
.infoBox
  margin: -62rem 0 0 36rem
  overflow: hidden !important
  width: auto !important
  > img
    display: none
  .map-card
    align-items: center
    background: white
    border-radius: 10rem
    display: flex
    padding: 8rem
    h4
      font-size: 20rem
      font-weight: 700