.marker__detail
  background-color: var(--white)
  border-radius: 1.25rem
  padding: 2.5rem
  position: absolute
  right: 1.875rem
  text-align: center
  top: 6.5625rem
  width: 30%
  z-index: 10
  .close
    font-size: 1.25rem
    font-weight: 900
    right: 1.25rem
    position: absolute
    top: 1.25rem
  .profile__photo
    display: inline-flex
  p
    margin-bottom: 0
.infoBox
  margin: -3.875rem 0 0 2.25rem
  overflow: hidden !important
  width: auto !important
  > img
    display: none
  .map-card
    align-items: center
    background: white
    border-radius: 0.625rem
    display: flex
    padding: 0.5rem
    h4
      font-size: 1.25rem
      font-weight: 700