.recycle__card
    display: grid
    grid-template-columns: 2fr 2fr 1fr
    justify-items: center
    align-items: center
    background-color: white
    width: auto
    height: 80px
    padding: 10px 10px
    border-radius: 8px
    .body__container
        // display: flex
        // flex-direction: column
    .close__icon
        background-color: white
        color: var(--grey)
        align-self: flex-start
        padding: 0
        border: none
    p
        font-size: 1rem
        margin-bottom: 2px
        font-weight: 300

.paperCategory
    color: var(--dark-blue)
.glassCategory
    color: var(--green-earth)
.plasticCategory
    color: var(--orange)
.e-wasteCategory
    color: var(--red-state)
.metalCategory
    color: var(--yellow)
.organicCategory
    color: var(--grey)