.recycle__card
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    background-color: white
    width: auto
    height: 80px
    padding: 10px 10px
    border-radius: 8px
    .body__container
        // display: flex
        // flex-direction: column
    .close__icon
        align-self: flex-start
    p
        font-size: 1.1rem
        margin-bottom: 0

.paperCategory
    color: var(--dark-blue)
.glassCategory
    color: var(--green-earth)
.plasticCategory
    color: var(--orange)
.eWasteCategory
    color: var(--red-state)
.metalCategory
    color: var(--yellow)
.organicCategory
    color: var(--grey)